.ant-form {
    width: 350px !important;
    margin: auto;
}

.input-form-login {
    padding: 16px 12px 14px 14px !important;
    background: rgba(33, 33, 33, 0.08) !important;
    border-radius: 4px 4px 0px 0px !important;
}

#basic_password {
    background: rgba(33, 33, 33, -0.92) !important;
}

.text-register {
    text-decoration: none;
    color: #152AEBCC !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.13500000536441803px;
    text-align: left;

}

.btn-login {
    background: #6200EE !important;
    width: 110px;
    height: 48px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    font-weight: 500;
    transition: all 0.3s;

    &:hover {
        background-color: transparent !important;
        border: 2px solid #6200EE;
        color: #000000 !important;
    }
}

.login-facebook {
    padding: 0 30px;
    text-decoration: none;
    align-items: center;
    display: flex;
    border-radius: 21px;
    background-color: #1877F2;
    transition: all 0.2s;
    color: #ffff;

    .icon-facebook {
        color: #ffff;
    }

    &:hover {
        background-color: transparent;
        border: 1px solid #1877F2;
        color: #000000 !important;

        .icon-facebook {
            color: #1877F2;
        }
    }
}