.title-component {
    margin-top: 130px;

    h1 {
        color: pink;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        font-weight: 500;
    }
}

@media screen and (max-width: 630px) {
    #root {
        width: 650px;
    }
}