@mixin text($fz, $fw, $cl) {
    font-size: $fz;
    font-weight: $fw;
    color: $cl;
}

body {
    font-family: Inter;
    margin: 0;
    padding: 0;
    list-style: none;

}

.header {
    background-color: #E0C9CB !important;
}

.action_delete_antd {
    font-size: 12px;
    height: 30px;
    padding: 0px 15px !important;
    border-radius: 100rem !important;
    line-height: 10px;
}

.svg-inline--fa {
    position: absolute;
    left: -30%;
    top: 8.25%;
    bottom: 3.76%;
    height: 35px;
    width: 28px;
    border-radius: 0px;
    transform: matrix(-0.01, 1, 1, 0.01, 0, 0);
}

.search {
    height: 30px;
    @include text(30px, 300, #FFFFFF)
}

.icon-shopping {
    height: 25px;
    text-align: left;
    @include text(24px, 700, #000000)
}

.amount {
    height: 18px;
    text-align: left;
    @include text(20px, 400, #FFFFFF)
}

.login {
    height: 13px;
    text-align: left;
    text-decoration: none;
    @include text(16px, 300, #F7F7F7);
    transition: all 0.2s;

    &:hover {
        color: #f5df3b !important;
    }
}

.content {
    .sub-header {
        img {
            width: 40px;
            height: 40px;
            border-radius: 100rem;
        }

        ul {
            @include text(18px, 500, #000)
        }

        .item-menu {
            a {
                text-decoration: none;
                font-size: 1em;
                color: black;
                font-weight: 500;
                transition: color 0.5s;

                &:hover {
                    color: blueviolet;
                }
            }
        }
    }
}

.like-and-cart {
    position: relative;

    .anticon-search {
        margin-bottom: 6px !important;

        font-size: 16px !important;
    }

    .total_quatity {
        position: absolute;
        top: 5px;
        right: -8px;
    }
}

.ant-input-search-button {
    height: 31.333333px !important;

    span {
        svg {
            font-size: 12px !important;
        }
    }
}

.scrolled {
    transition: all 0.6s;
    position: fixed;
    width: 90%;
    z-index: 1000 !important;
    top: 10px !important;
    background-color: #E0C9CB !important;

    .menu-strip {
        ul {
            li {
                font-size: 16px !important;
                color: black !important;
                font-weight: 600;
            }
        }
    }
}

.false {
    transition: all 0.5s;
}

footer {
    .footer-link {
        h4 {
            height: 29px;
            width: 150px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            color: #fff;
        }

        ul {
            padding: 0 30px;
            list-style: none;
            text-align: left;

            &:nth-child(2) {
                padding: 0 40px;
            }

            li {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 30px;

                color: #FFFFFF;

            }
        }
    }

    @media screen and (max-width: 769px) {
        .footer-link {
            margin-top: 20px;

            h4 {
                width: 100% !important;
            }

            ul {
                list-style: none;
                text-align: center !important;
                padding: 0;
            }
        }

    }
}

.about_shopping_card {
    width: 700px;

    .pay {
        padding: 20px 0 10px 0;

        button {
            padding: 5px 40px;
            background-color: pink;
            color: #FFFFFF;
            font-weight: bold;
            border-radius: 20px;
            border: 0px;
            transition: all 0.5s ease-in-out;

            &:hover {
                background-color: transparent;
                border: 1px solid pink;
                color: #000000;
            }
        }
    }
}

.btn_quatity {
    width: 20px !important;
    height: 30px !important;
    border-radius: 100rem !important;

    span {
        text-align: center;
        transform: translate(-50%, -5%);
    }
}