.title-pd-carousel {
    h2 {
        color: pink;
    }

    p {
        font-weight: 500;
    }



}

.slick-dots {
    bottom: -70px !important;

    li {

        /* thay đổi màu sắc */
        button {

            width: 10px !important;
            /* thay đổi kích thước */
            height: 10px !important;
            border-radius: 50% !important;
            background-color: pink !important;
        }
    }

}

.title-component {
    margin-bottom: 50px;
}


.paginationBtns {
    width: 80%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    list-style: none;
    margin-top: 30px;

    a {
        padding: 5px 13px;
        background: #212245;
        color: #fff !important;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 5px;
        text-decoration: none;

        &:hover {
            background: #df2020;
        }
    }
}

.bg_banner {
    .content_banner {
        .logo_banner {
            font-size: 10px;
            font-weight: bold;
            display: inline-block;
            border: 1px solid black;
            width: 40px;
            text-align: center;
            height: 32px;

            p {
                margin: 0;
                padding: 0;
            }
        }

        .title_banner {
            p {
                color: #4E4E4E;
                font-weight: bold;
                font-size: 60px;
                line-height: 70px;
                position: relative;
            }
        }

        .btn-buy {
            color: #4E4E4E;
            border: 1px solid black;
            font-size: 12px;
            font-weight: 600;
            padding: 5px 20px;
            border-radius: 20px;
        }

        .description_banner {
            margin-top: 100px;
        }

        .link_banner {
            margin-top: 6em;

            ul {
                margin: 0;

                li {
                    font-weight: 500;
                }
            }

            .contact_socialNetwork {
                padding: 3px 20px;
                border: 1px solid #4E4E4E;
                border-radius: 30px;
                font-size: 15px;
                color: #4E4E4E;
                font-weight: 400;
                text-decoration: none;
                cursor: pointer;
                transition: transform 0.6s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .bg_image_banner {
        width: 435px;
        background-color: #e9e4e1;
        margin: auto;
        height: 100%;
        position: relative;

        .images_banner {
            position: relative;

            img {
                width: 300px;
                margin: auto;
            }

            span {
                position: absolute;
                font-size: 25px;
                top: 0;
                right: 10px;

                font-weight: 600;
            }
        }

        .information_product_banner {
            color: #4E4E4E;
            margin-top: 60px;

            p {
                padding: 0 !important;
                margin: 0 !important;
                font-size: 14px;
                font-weight: 600;
            }
        }

        .detail_product_banner {
            font-weight: 600;
            position: absolute;
            bottom: 20px;
            left: 18px;
            font-size: 12px;
            color: #4E4E4E;
            cursor: pointer;
        }

        .arrow_animation {
            position: absolute;
            bottom: 20px;
            right: 100px;
            background-color: #1b1c39;
            width: 30px;
            height: 30px;
            border-radius: 100rem;
            animation: animation_arrow 2s ease-in-out infinite;

            span {
                margin-left: 7.8px;
                color: #ffff;
            }
        }

        @keyframes animation_arrow {
            from {
                right: 100px;
                opacity: 1;
            }

            to {
                right: 10px;
                opacity: 0.1;
            }
        }
    }
}

//response sive
@media all and (max-width: 995px) {
    .banner_slide {
        .content_banner {
            .title_banner {
                p {}
            }

            .description_banner {
                margin-top: 30px !important;
            }

            .link_banner {
                margin-top: 3em;

                a.contact_socialNetwork {
                    padding: 2px 3px;
                    font-size: 13px;
                }
            }
        }

        .bg_image_banner {
            width: 375px !important;
            height: 90% !important;
        }
    }
}

@media all and (max-width: 785px) {
    .banner_slide {
        .content_banner {
            .title_banner {
                p {
                    font-size: 35px !important;
                    line-height: 45px !important;
                }
            }

            .description_banner {
                margin-top: 30px !important;
            }

            .link_banner {
                margin-top: 3em;

                a.contact_socialNetwork {
                    padding: 2px 3px;
                    font-size: 13px;
                }
            }
        }

        .bg_image_banner {
            width: 320px !important;
            height: 98% !important;

            .information_product_banner {
                display: none;
            }
        }
    }

    p {
        margin: 0;
    }
}

@media all and (max-width: 700px) {
    .banner_slide {
        .content_banner {
            .title_banner {
                p {
                    font-size: 31px !important;
                    line-height: 40px !important;
                }
            }

            .description_banner {
                margin-top: 30px !important;
            }

            .link_banner {
                margin-top: 3em;
                font-size: 10px;

                a.contact_socialNetwork {
                    padding: 2px 3px;
                    font-size: 10px;
                }
            }
        }

        .bg_image_banner {
            width: 288px !important;
            height: 98% !important;

            .images_banner {
                width: 90%;
                margin: auto;
                position: relative;
            }

            .information_product_banner {
                display: none;
            }
        }
    }

    p {
        margin: 0;
    }
}